name: build-release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:
    inputs:
      build-type:
        description: "manual override of build type"
        required: false
        default: "release"

permissions:
  contents: write

jobs:
  build-windows:
    name: Build (exe) on Windows
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Restore
        run: dotnet restore LLWallPaper.sln

      - name: Publish (single file)
        run: >-
          dotnet publish .\LLWallPaper.App\LLWallPaper.App.csproj
          -c Release
          -r win-x64
          --self-contained false
          -p:PublishSingleFile=true
          -p:IncludeNativeLibrariesForSelfExtract=true

      - name: Create GitHub Release (attach exe)
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
          draft: false
          prerelease: false
          files: |
            LLWallPaper.App/bin/Release/**/publish/*.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
